.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  height: 55px !important;
}

.category {
  opacity: 0.7;
}

.category:hover {
  opacity: 1;
}

i {
  width: 20px;
}

.category-name {
  font-family: "Merriweather", serif !important;
}