@media (max-width: 768px) {
  .details-row {
    display: flex !important;
    flex-direction: column !important;
  }

  .col-7,
  .col-4,
  .col-1 {
    width: 100% !important;
    max-width: 100% !important;
  }

  .col-4 {
    margin-top: 30px !important;
    margin-bottom: 30px;
  }

  .col-1 {
    display: none !important;
  }
}
