.categories-container {
  position: fixed; /* Allows it to float over the page */
  top: 70px; /* Adjust based on navbar height */
  left: 10px; /* Adjust for spacing */
  z-index: 1000; /* Ensures it's above other elements */
  padding: 10px;
  border-radius: 8px;
}

@media (max-width: 500px) {
  .home-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 50px;
  }
}
