.categories-container {
  position: fixed; /* Allows it to float over the page */
  top: 70px; /* Adjust based on navbar height */
  left: 10px; /* Adjust for spacing */
  z-index: 1000; /* Ensures it's above other elements */
  padding: 10px;
  border-radius: 8px;
}

@media (min-width: 375px) {
  .home-container {
    padding-left: 5rem;
    padding-right: 1rem;
  }
}
@media (min-width: 415px) {
  .home-container {
    padding: 0 2rem;
  }
}
@media (min-width: 1024px) {
  .home-container {
    padding: 0 5rem;
  }
}
