@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
body {
  font-family: "Merriweather", serif !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
